* {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  background-color: #222222;
  margin-bottom: 15px;
}

main {
  height: 100%;
}

footer {
  height: 40px;
  background-color: #222222;
  color: white;
  margin-top: 15px;
  line-height: 40px;
  text-align: center;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.products {
  &-top {
    text-align: center;
  }

  &-subtitle {
    margin-bottom: 15px;
  }

  &-wrap {
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
}

.grid {
  &-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  &-footer {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
  }
}

.cart {
  &-icon {
    margin-left: 25px;
  }

  &-wrapper {
    display: grid;
    justify-items: end;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &-iconWrap {
    position: relative;
    cursor: pointer;

    & span {
      display: inline-block;
      width: 19px;
      height: 19px;
      color: white;
      background: #f16d7f;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      right: -8px;
      top: -5px;
      font-size: 12px;
      line-height: 19px;
    }
  }

  &-button {
    height: 25px;
    padding: 3px 5px;
  }
}


.goods {
  &-imgWrap {
    position: relative;
    padding: 0;
  }

  &-item {
    border: 3px solid transparent;
    border-radius: 3px;
    transition: all 0.5s;

    &:hover {
      border-color: #9e2929;
    }

    &:hover .goods-bgDark {
      display: grid;
    }
  }

  &-img {
    width: 100%;
    display: inline-block;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &-price {
    font-weight: bold;
    margin-top: 5px;

    span {
      color: #f16d7f;
    }
  }

  &-btn {
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    transition: all 0.5s;

    &:hover {
      background-color: black;
      color: antiquewhite;
    }
  }

  &-cardBottom {
    padding: 5px;
    text-align: center;
  }
}

.basket {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 50px;
  background: white;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;

  &-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
  }

  &-header {
    font-weight: bold;
  }

  &-total {
    font-weight: bold;
    text-align: right;
  }
}